@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  background-color: #181825;
  color: white;
  font-family: "JetBrains Mono", monospace, serif;

  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
  animation-duration: 0.01s; 
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

a {
  color: #f38ba8;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #444;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}